.complectation {
    background-size: 1920rem / $fs auto;
    background-position: center top;
    font-family: 'toyota_display';
    color: #fff;
    padding-bottom: 4.0625rem;

    .wrapper-in {
        padding-top: 1px;
    }

    .complect-title {
        font-size: 50em / $fs;
        font-weight: 700;
        line-height: 1;
        margin: 45rem / $fs 0 35rem / $fs;
    }

    .complect__title {
        position: relative;
        line-height: 1;
        margin-top: 65rem / $fs;

        .title__main {
            font-size: 105em / $fs;
            font-weight: 700;
        }

        .title__desc {
            position: absolute;
            font-size: 20em / $fs;
            left: 5.1rem;
        }
    }

    .complect__price {
        margin-top: 50rem / $fs;
        font-size: 30em / $fs;
        font-weight: 700;
    }

    .complect__btns {
        margin-top: 55rem / $fs;

        .btns__cont {
            margin-bottom: 10rem / $fs;

            &:last-child {
                margin-bottom: 0;
            }

            .us-btn {
                width: 195rem / $fs;
                text-align: center;
            }
        }
    }

    .complect__info {
        margin-top: 365rem / $fs;

        .info__options {
            .option__slider {
                font-size: 0;

                .js-carousel {
                    display: inline-block;
                    vertical-align: middle;
                    overflow: hidden;
                    width: 1080rem / $fs;
                }

                .slider__control {
                    display: inline-block;
                    vertical-align: middle;
                    width: 95rem / $fs;
                    height: 145rem / $fs;
                    line-height: 145rem / $fs;

                    span {
                        @extend .circle-link;
                        color: inherit;
                        border-color: #fff;
                        background-image: url(../images/arrow.svg);
                        background-size: auto 60%;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }

                    &.prev {
                        span {
                            transform: rotate(180deg);
                        }
                    }

                    &.next {
                        text-align: right;
                    }

                    &.inactive, &:hover {
                        span {
                            opacity: .5;
                        }
                    }
                }
            }

            .options__list {
                position: relative;
                margin: 0;
                padding: 0;
                list-style: none;
                overflow: hidden;
                width: 5000rem / $fs;

                li {
                    position: relative;
                    float: left;
                    box-sizing: border-box;
                    width: 175rem / $fs;
                    height: 145rem / $fs;
                    background-size: cover;
                    background-position: center center;
                    font-size: 13rem / $fs;
                    margin: 0 2.5rem / $fs;

                    &:before {
                        content: "";
                        position: absolute;
                        box-sizing: border-box;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border: 5px solid #fff;
                        background: rgba(44, 44, 44, .62);
                        opacity: 0;
                        transition: all .5s ease;
                    }

                    .list__text {
                        position: absolute;
                        left: 20rem / $fs;
                        bottom: 20rem / $fs;
                        right: 20rem / $fs;
                        opacity: 0;
                        color: #fff !important;
                        transition: all .5s ease;
                    }

                    &:hover {
                        &:before {
                            opacity: 1;
                        }

                        .list__text {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .info__tech {
            .tech__list {
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: 0;

                li {
                    display: inline-block;
                    vertical-align: top;
                    box-sizing: border-box;
                    width: 25%;
                    padding: 0 25rem / $fs 0 12rem / $fs;
                    font-size: 13rem / $fs;
                }

                .list__title {
                    position: relative;
                    left: -12rem / $fs;
                    font-size: 20rem / $fs;

                    &:before {
                        content: "• ";
                    }
                }

                .list__desc {
                    color: #77747e;
                    font-size: 13rem / $fs;
                    line-height: 1;
                }

                .list__text {
                    margin-top: 15rem / $fs;
                    font-size: 13rem / $fs;
                }
            }
        }

        .info__footer {
            margin: 45rem / $fs 0 25rem / $fs;

            .footer__desc {
                font-size: 13rem / $fs;
                color: #77747e;
                margin: 16rem / $fs 0 0;
            }
        }
    }

    &.complectation-light {
        color: #262439;

        .us-btn {
            color: inherit;
            border-color: inherit;

            &:hover {
                opacity: 1;
                border-color: #fff;
                color: #fff;
            }
        }

        .complect__info {
            .info__options {
                .option__slider {
                    .slider__control {
                        span {
                            border-color: #262439;
                            background-image: url(../images/arrow-dark.svg);
                        }
                    }
                }
            }
        }
    }
}

.info__soc {
    .soc__title {
        display: inline-block;
        vertical-align: middle;
        width: 90rem / $fs;
        font-size: 13em / $fs;
        text-transform: uppercase;
    }

    .soc__btns {
        margin-left: 15rem / $fs;
        display: inline-block;
        vertical-align: middle;

        a {
            @extend .circle-link;
            margin-right: 8rem / $fs;
            color: inherit;
            text-decoration: none;
            text-align: center;
            font-size: 1.2em;

            &:before {
                @extend .fa;
            }

            &.btns__vk:before {
                content: "\f189";
            }

            &.btns__fb:before {
                content: "\f09a";
            }
        }
    }
}