.ksps {
    background-image: url(../images/no/background.jpg);
    background-size: 1920rem / $fs 1284rem / $fs;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #0a0b1d;
    padding-bottom: 95rem / $fs;
    overflow: hidden;

    .ksps__title {
        font-family: 'toyota_display';
        font-weight: 700;
        font-size: 56rem / $fs;
        color: #fff;
        text-align: center;
        margin-top: 70rem / $fs;
    }

    .ksps-list {
        font-size: 0;
        margin-top: 60rem / $fs;

        .list__item {
            position: relative;
            display: inline-block;
            vertical-align: top;
            float: left;

            .item__block {
                position: relative;
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;

                .block__content {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    background-position: center center;
                    background-size: cover;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border: 5rem / $fs solid #fff;
                    opacity: 0;
                    transition: all 0 ease;
                }

                &:hover {
                    &:before {
                        transition: all .25s ease;
                        opacity: 1;
                    }
                }
            }

            .item__hover {
                display: none;
                position: absolute;
                 z-index: 1;
                background: #fff;
                color: #000;
                font-size: 13rem / $fs;
                //transition: all .5s ease;

                .hover__info {
                    display: inline-block;
                    vertical-align: middle;
                    width: 90%;
                    padding-left: 15rem / $fs;

                    .hover__title {
                        font-size: 30rem / $fs;
                        font-weight: 700;
                        font-family: 'toyota_display';
                    }

                    .hover__text {
                        color: #323d46;
                    }
                }

                &:before {
                    content: "";
                    width: 0;
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        .list__item-big {
            height: 305rem / $fs;
            width: 50%;

            .item__block {
                width: 50%;
                height: 305rem / $fs;
                padding: 2.5rem / $fs;

                &:first-child {
                    .item__hover {
                        right: -100%;
                        top: 0;
                        bottom: 0;
                        left: 100%;
                    }
                }

                &:last-child {
                    .item__hover {
                        right: 100%;
                        top: 0;
                        bottom: 0;
                        left: -100%;
                    }
                }
            }
        }

        .list__item-md {
            height: 305rem / $fs;
            width: 25%;

            .item__block {
                width: 100%;
                height: 152.5rem / $fs;
                padding: 2.5rem / $fs;

                &:first-child {
                    .item__hover {
                        right: 0;
                        top: 0;
                        bottom: -100%;
                        top: 100%;
                    }
                }

                &:last-child {
                    .item__hover {
                        right: 0;
                        top: 0;
                        bottom: 100%;
                        top: -100%;
                    }
                }
            }
        }

        .list__item-small {
            height: 152.5rem / $fs;
            width: 37.5%;

            .item__block {
                width: 33.33333333%;
                height: 152.5rem / $fs;
                padding: 2.5rem / $fs;

                &:first-child {
                    .item__hover {
                        top: 0;
                        bottom: 0;
                        left: 100%;
                        right: -200%;
                    }
                }

                &:nth-child(2) {
                    .item__hover {
                        top: 0;
                        bottom: 0;
                        left: -200%;
                        right: 100%;
                    }
                }

                &:last-child {
                    .item__hover {
                        top: 0;
                        bottom: 0;
                        left: -200%;
                        right: 100%;
                    }
                }
            }

            &.hover-right {
                .item__block {
                    &:nth-child(2) {
                        .item__hover {
                            top: 0;
                            bottom: 0;
                            left: 100%;
                            right: -200%;
                        }
                    }
                }
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 100rem / $fs;
        margin-left: -960rem / $fs;
        background: -moz-linear-gradient(left,  rgba(10, 11, 29, 1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(10, 11, 29, 1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(10, 11, 29, 1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(10, 11, 29, 1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(10, 11, 29, 1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(10, 11, 29, 1) 0%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131220', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    }

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 100rem / $fs;
        margin-left: 860rem / $fs;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(10, 11, 29, 1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(10, 11, 29, 1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(10, 11, 29, 1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(10, 11, 29, 1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(10, 11, 29, 1) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(10, 11, 29, 1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#131220',GradientType=1 ); /* IE6-9 */
    }
}

.ksps-form-block {
    padding: 70rem / $fs 70rem / $fs 0;
    background: #fff;
    margin-top: 2.5rem / $fs;
    text-align: center;

    #why-form {
        padding: 0 0 90rem / $fs;
    }

    .form__final {
        display: none;
        padding: 25rem / $fs 0 50rem / $fs;
        font-family: 'toyota_display';
        font-size: 13rem / $fs;
        text-transform: uppercase;
    }

    .block__top {
        padding-bottom: 25rem / $fs;

        .top__title {
            font-family: 'toyota_display';
            font-size: 50rem / $fs;
            font-weight: 700;
        }

        .top__desc {
            font-size: 13rem / $fs;
            margin-top: 10rem / $fs;
        }

        .top__btns {
            margin-top: 10rem / $fs;
        }
    }

    .block__form {
        position: relative;
        padding-top: 30rem / $fs;
        border-top: 1px solid #d1d1d2;

        .info__soc {
            margin-bottom: 25rem / $fs;
        }

        .form__textarea, .form__btn {
            margin-top: 10rem / $fs;
        }

        .info__error {
            position: absolute;
            bottom: 35rem / $fs;
            left: 0;
            right: 0;
            color: #ad0508;
            font-family: 'toyota_display';
            font-size: 13rem / $fs;
            text-transform: uppercase;
        }
    }

    .block__form-cont {
        display: none;
    }

    .block__choose {
        padding-bottom: 70rem / $fs;
    }
}