.us-btn {
    display: inline-block;
    vertical-align: top;
    padding: 0 40rem / $fs;
    height: 45rem / $fs;
    line-height: 45rem / $fs;
    border-radius: 45rem / $fs;
    border: 3rem / $fs solid rgba(255, 255, 255, .5);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13em / $fs;
    font-family: 'toyota_display';
    transition: all .5s ease;

    &:hover {
        border-color: rgba(255, 255, 255, 1);
    }

    &[disabled="disabled"] {
        opacity: .5;
        cursor: default;
        border-color: rgba(255, 255, 255, .5);
    }
}

button.us-btn {
    background: transparent;
    outline: none;
    padding-top: 0;
    padding-bottom: 0;
}

.us-input {
    border-radius: 25rem / $fs;
    border: 3rem / $fs solid #92919c;
    outline: none;
    margin: 0 10rem / $fs;
    font-size: 13rem / $fs;
    font-family: 'toyota_display';

    &.input-error {
        border-color: #ad0508;
    }
}

input.us-input {
    padding: 0 10rem / $fs;
    height: 43rem / $fs;
    width: 210rem / $fs;
}

textarea.us-input {
    padding: 20rem / $fs 10rem / $fs;
    width: 470rem / $fs;
    min-height: 60rem / $fs;
}

::-webkit-input-placeholder {
    color: #262439;
    text-transform: uppercase;
}
::-moz-placeholder          {
    color: #262439;
    text-transform: uppercase;
}
:-moz-placeholder           {
    color: #262439;
    text-transform: uppercase;
}
:-ms-input-placeholder      {
    color: #262439;
    text-transform: uppercase;
}

.input-error::-webkit-input-placeholder {
    color: #ad0508;
    text-transform: uppercase;
}
.input-error::-moz-placeholder          {
    color: #ad0508;
    text-transform: uppercase;
}
.input-error:-moz-placeholder           {
    color: #ad0508;
    text-transform: uppercase;
}
.input-error:-ms-input-placeholder      {
    color: #ad0508;
    text-transform: uppercase;
}

.submit-btn {
    display: inline-block;
    background: transparent;
    border-radius: 25rem / $fs;
    border: 3rem / $fs solid #262439;
    height: 43rem / $fs;
    padding: 0 70rem / $fs;
    outline: none;
    font-family: 'toyota_display';
    font-size: 13rem / $fs;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .5s ease;

    &:hover, &.loading {
        background: #262439;
        color: #fff;
    }

    &[disabled="disabled"] {
        opacity: .5;
    }
}

.choose-btn {
    display: inline-block;
    vertical-align: middle;
    width: 230rem / $fs;
    height: 45rem / $fs;
    line-height: 45rem / $fs;
    border-radius: 45rem / $fs;
    border: 2px solid #c6c5ca;
    text-decoration: none;
    margin: 0 5rem / $fs;
    color: #2a293b;
    transition: all .5s ease;

    .btn__main {
        display: inline-block;
        vertical-align: middle;
        font-size: 25rem / $fs;
        text-transform: uppercase;
    }

    .btn__desc {
        position: relative;
        top: -.2em;
        display: inline-block;
        vertical-align: middle;
        font-size: 13rem / $fs;
        width: 0;
        opacity: 0;
        transition: all .5s ease;

        span {
            display: inline-block;
            vertical-align: middle;
            line-height: .9;
            text-align: left;
            text-transform: lowercase;
            margin-left: 8rem / $fs;
            width: 6rem;
        }
    }

    &:hover {
        border-color: #2a293b;

        .btn__desc {
            opacity: 1;
            width: 5rem;
        }
    }
}

.circle-link {
    display: inline-block;
    vertical-align: middle;
    width: 33rem / $fs;
    height: 33rem / $fs;
    line-height: 33rem / $fs;
    border-radius: 39rem / $fs;
    border: 3rem / $fs solid;
    transition: all .5s ease;
}