extends layout

block content
  .wrapper
    .wrapper-in(style="text-align: center; margin-top: 100px; font-size: 50px; font-family: 'toyota_display'; font-weight: 700;") Ваша комплектация
    a(href="http://toyota.ru" style="margin-left:100px; font-size: 15px; font-family: 'toyota_display'; font-weight: 700;") Записаться на тест-драйв
    a(href="http://toyota.ru" style="margin-left:100px; font-size: 15px; font-family: 'toyota_display'; font-weight: 700;") Перейти в конфигуратор
    a(href="./" style="margin-left:100px; font-size: 15px; font-family: 'toyota_display'; font-weight: 700;") Вернуться к выбору