doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ty satelite
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.css')
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    
    .js-content
        block content

    .mobile-screen.js-mobile-screen
      a(href="#").main-logo.mobile-logo
      .screen__info
        .info__title Новая Toyota Camry:<br>Достойна ли она<br>Вашего внимания?
        .info__desc Функциональность сайта<br>в мобильной версии ограничена.
      .screen__bottom
        .bottom__btn
          a(href="#").js-show-site Все равно открыть сайт
        .bottom__link
          a(href="//toyota.ru") Перейти на официальный сайт Toyota

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/blurjs/dist/jquery.blur.js')
    script(src='/bower_components/jcarousel/dist/jquery.jcarousel.js')
    script(src='/bower_components/parallax/deploy/parallax.js')
    script(src='/bower_components/parallax/deploy/parallax.min.js')
    script(src='/bower_components/parallax/deploy/jquery.parallax.js')
    script(src='/bower_components/parallax/deploy/jquery.parallax.min.js')
    script(src='/bower_components/autosize/dest/autosize.js')
    script(src='/bower_components/mobile-detect/mobile-detect.min.js')
    script(src='/bower_components/jquery.cookie/jquery.cookie.js')
    script(src='/bower_components/jquery-form/jquery.form.js')
    // endbower
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild