extends layout

block content
    .mobile-screen
      a(href="#").main-logo.mobile-logo
      .screen__info
        .info__title Новая Toyota Camry:<br>Достойна ли она<br>Вашего внимания?
        .info__desc Функциональность сайта<br>в мобильной версии ограничена.
      .screen__bottom
        .bottom__btn
          a(href="#") Все равно открыть сайт
        .bottom__link
          a(href="#") Перейти на официальный сайт Toyota