extends layout

block content
  .wrapper
    .wrapper-in
      a(href="#").main-logo
    .no-screen.yes-screen.js-no-screen
      .no-screen-back#parallax-scene
        .layer.main-layer(data-depth="0.1")
        .layer.other-layer1(data-depth="0.2")
        .layer.other-layer2(data-depth="0.4")
      .yes-screen-wrapper
        .wrapper-in
          .yes-top-text Что сделает ее лучше?
        .yes-screen__list.js-yes-list
          .list__cont.js-yes-cont
        .yes-main-btn
          form#nosubmit
            input(type="hidden" name="ksps")
            button(type="submit").us-btn Проверить наличие
    footer.footer
      .wrapper-in
        span &copy; Toyota
        span.fl-r
          a(href="//toyota.ru") Узнать больше о  преимуществах Toyota 
block scripts
  script.
    var Dictionary = {};
    Dictionary.NoScreen = [
        {
            id: 1,
            name: "Динамика",
            ksp: [
                { id: 1 },
                { id: 2 },
                { id: 3 }
            ]
        },
        {
            id: 2,
            name: "Дизайн",
            ksp: [
                { id: 1 },
                { id: 2 },
                { id: 3 }
            ]
        },
        {
            id: 3,
            name: "Иновации",
            ksp: [
                { id: 1 },
                { id: 2 },
                { id: 3 }
            ]
        },
        {
            id: 4,
            name: "Комфорт",
            ksp: [
                { id: 1 },
                { id: 2 },
                { id: 3 }
            ]
        },
        {
            id: 5,
            name: "Экономичность",
            ksp: [
                { id: 1 },
                { id: 2 },
                { id: 3 }
            ]
        },
        {
            id: 6,
            name: "Безопасность",
            ksp: [
                { id: 1 },
                { id: 2 },
                { id: 3 }
            ]
        },
        {
            id: 733,
            name: "Функциональность",
            ksp: [
                { id: 1 },
                { id: 2 },
                { id: 3 }
            ]
        }
    ];