extends layout

block content
  .wrapper
    .wrapper-in
      a(href="#").main-logo
    .no-screen.yes-screen.js-no-screen
      .yes-screen-wrapper
        .wrapper-in
          .yes-top-text Что сделает ее лучше?
        .yes-screen__list.js-yes-list
          .list__cont.js-yes-cont
        .yes-main-btn
          a(href="ksps.html").us-btn.js-no-submit Проверить наличие
    footer.footer
      .wrapper-in
        span &copy; Toyota
        span.fl-r
          a(href="//toyota.ru") Узнать больше о  преимуществах Toyota Сamry